<a href="~/Views/Shared/_Layout.cshtml"></a>
<a href="~/Views/Header/Header.cshtml"></a>
@{
    ViewBag.Title = "Index";
}



@Html.ActionLink("Register","../Account/Register")
@Html.ActionLink("Login", "../Account/Login")

